
/* Standardowe resety/utilsy */

.clear {clear: both;}

/* Podstawowe widoki */

.entry-meta {

  .user-avatar {
    width: 32px;
    height: 32px;
    float: left;
  }

  h4 {
    padding: 5px 0px 0px 45px;
    margin: 0px;
  }
}

.entry-content {
  text-align: justify;
  padding-top: 15px;
}
