/**
 * Lista aktywności w lokalizacji.
 */


/* Nagłówek z nazwą miejsca */

#location-header {
  background-position: center center;
  background-repeat: no-repeat;

  h1 {
    margin: 0px;
    padding: 10px;
    color: #fff;
  }
}


/* Menu z filtrami listy */

.civ-menu-container {

  min-width: 100%;
  overflow: hidden;
  text-align: center;

  li {

    display: inline-block;
    margin: 5px 5px;

    a {

      &.active {

        color: #ff0000;
      }
    }
  }
}


/* Lista i wpisy */

.content-box {

  background: white;
  border: 1px solid #cfcfcf;
  border-radius: 4px;

  h1, h2, h3, h4, h5, h6, p {
    padding: 5px 0 5px 0;
  }

  p {
    text-align: justify;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  .content-description {
    width: 100%;
    background: #84bd00; // ten kolor powinien byc zmienny
    color: white;
    z-index: 10;
    position: relative
  }
  
  .content-preview {
    position: relative;
    z-index: 10;
    width: 100%;
    background: white;
    & img {
    display: none;
    }
  }
  .content-image-box-outer {
    height: 180px;
    .content-image-thumb-outer {
      position: relative;
      height: 180px;
      .content-image-thumb {
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
      }
    }
    .avatar_bar_description_outer {
        z-index: 10;
        top: -70px;
        left: 15px;
        position: relative;
        .post_user_avatar {
            width: 50px;
            height: 50px;
            background: #0083fb;
            border-radius: 50px;
        }
      .title_description {
        color: white;
        position: relative;
        left: 70px;
        top: -90px;
      }
      .white_bar {
        position: relative;
        width: 1px;
        height: 50px;
        background: white;
        left: 65px;
        top: -50px;
      }
    }
  }
}

// fix na content
.km-list>li {
  background: white;
  border: none;
  }



.gradient {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.54) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(0,0,0,0.54))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.54) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.54) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.54) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.54) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#8a000000',GradientType=0 ); /* IE6-9 */
  }
