/**
 * header
 */

@blue_base: #0083fb;
@blue_dark: #006ace;

@border-radius_base: 4px;

@text_color_menu: #4d4747;

@font-size: 130%;

// header   navbar

@icon_panel_width: 22px;
@icon_panel_height: 18px;

.icon-panel {
	position: relative;
	top: 8px;
	background: none;
	border: none;
	background-image: url("../../img/icon-panel@2x.png");
	width: @icon_panel_width;
	height: @icon_panel_height;
	background-size: @icon_panel_width @icon_panel_height;
	background-repeat: no-repeat;
	border-radius: 0;
	float: left;
	left: 10px;
	z-index: 11;
}


@media only screen and (-webkit-device-pixel-ratio: 1) {
	.header_navbar_custom .km-widget .km-button {
		.icon-panel;
		background-image: url("../../img/icon-panel.png");
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.header_navbar_custom .km-widget .km-button {
		.icon-panel;
		background-image: url("../../img/icon-panel.png");
	}
}

.header_navbar_custom .km-navbar {
	background: @blue_base;
	border: 2px solid @blue_base;
}
.header_navbar_custom .km-view-title {
	text-align: left;
}

.title_custom {
	position: relative;
	left: 10px;
	z-index: 10;
}

// menu

@text_bottom-top-padding: 7px;
@inner_text_padding: 0 5px @text_bottom-top-padding 5px;

.civ-menu-container {
	padding-top: @text_bottom-top-padding;
	padding-bottom: @text_bottom-top-padding;
	background: white;
	color: @text_color_menu;
	font-size: @font-size;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

a:-webkit-any-link li a { //inactive
	color: green;
	text-decoration: none;
	margin: @inner_text_padding;
	padding-bottom: @text_bottom-top-padding;
}

.civ-menu-container li a.active { //active
	color: inherit;
	text-decoration: none;
	border-bottom: 5px solid @blue_base;
	margin: @inner_text_padding;
	padding-bottom: @text_bottom-top-padding + 1;
}

.civ-menu-container .filter-menu-link { //visited - default
	text-decoration: none;
	color: inherit;
	margin: @inner_text_padding;
}
