/**
 * Panel
 */


@blue_base: #0083fb;
@blue_dark: #006ace;

@border-radius_base: 4px;

@text_color: white;


.km-widget ul{
	background:none;
}

.km-content {
	background: none;
}

#user-drawer {
	background: @blue_base;
}

.display_none .km-group-title {
	display: none;
}

.display_none .km-list:not(.km-virtual-list)>li:last-child {
	background: @blue_base;
	height: 80px;
}

.km-scroll-container ul li ul li{
	border-bottom: 1px solid @blue_dark;
}

.km-scroll-container ul li ul{
	border-bottom: 1px solid @blue_dark;
}

.km-pane .km-listview-link:after { // subject to change
	display: none;
}

.km-group-container {
	width: 100%;
	border: none;
	padding: 0;
	line-height: 200%;
}

.km-group-container li {
	line-height: 200%;
}

.km-group-title {
	color: white;
	background: @blue_dark;
	border-style: none;
}


#user-drawer a.km-listview-link {
	background: @blue_base;
	color: white;
}


// icons & avatar

#user-avatar {
	position: relative;
	top: 20px;
	left: 20px;
	border-radius: 50px;
}

#user-full-name {
	position: relative;
	top: 7px;
	margin-left: 35px;
	font-weight: bold;
	color: white;
}


@icon_size_sidebar: 20px;

.icon_style_sidebar {
	position: relative;
	top: 4px;
	left: 5px;
	display: inline-block;
	width: @icon_size_sidebar;
	height: @icon_size_sidebar;
	background-size: @icon_size_sidebar @icon_size_sidebar;
}



.sidebar_text_style {
	margin-top: -30px;
	display: inline-block;
	margin-left: 20px;
	font-weight: normal;
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
	.icon_search {
		background-image: url("../../img/icon-search.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.icon_search {
		background-image: url("../../img/icon-search@2x.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
	.icon_map {
		background-image: url("../../img/icon-map.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.icon_map {
		background-image: url("../../img/icon-map@2x.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
	.icon_places {
		background-image: url("../../img/icon-places.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.icon_places {
		background-image: url("../../img/icon-places@2x.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
	.icon_bookmarks {
		background-image: url("../../img/icon-bookmarks.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.icon_bookmarks {
		background-image: url("../../img/icon-bookmarks@2x.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
	.icon_information {
		background-image: url("../../img/icon-information.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.icon_information {
		background-image: url("../../img/icon-information@2x.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
	.icon_log_out {
		background-image: url("../../img/icon-log_out.png");
		.icon_style_sidebar
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.icon_log_out {
		background-image: url("../../img/icon-log_out@2x.png");
		.icon_style_sidebar
	}
}

// Counter boxes

.counter_box {
	background: @blue_dark;
	position: relative;
	float: right;
	display: inline-block;
	width: 30px;
	text-align: center;
	border-radius: @border-radius_base;
}
