/**
 * Sing in
 */


@green_base: #84bd00;
@blue_base: #0083fb;
@blue_dark: #006ace;
@blue_facebook: #3b5997;
@red_google: #e12f2f;

@padding_base_top_down: 6% 0 6% 0;
@width_base: 248px;
@height_base: 40px;
@border-radius_base: 4px;

@text_color: white;

body {
	font-family: Arial, Helvetica, sans-serif;
}


.background_sign_in {
	background: @blue_base;
	width: 1600px;
	height: 1600px;
	position: fixed;
	top: -500px;
	z-index: -10;
}

// civilhub logo

.civilhub_logo_outer {
	width: 100%;
	padding: @padding_base_top_down;
	text-align: center;
}

@media only screen and (-webkit-device-pixel-ratio: 1){
	.civilhub_logo_inner {
			background-image: url("../../img/civilhub_logo.png");
			display: inline-block;
			width: 140px;
			height: 132px;
			background-size: 140px 132px;
		}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
	.civilhub_logo_inner {
			background-image: url("../../img/civilhub_logo@2x.png");
			display: inline-block;
			width: 140px;
			height: 132px;
			background-size: 140px 132px;
		}
}

// login form

@left_position: 40px;

#login-email {
	left: @left_position;
}

#login-password {
	left: @left_position;
}

.login_outer {
	position: relative;
  	left: 50%;
 	margin-left: -124px;
 	width: @width_base;
 	padding: 0;
}


.border-radius-top {
	border-top-left-radius: @border-radius_base;
	border-top-right-radius: @border-radius_base;
}

.border-radius-bottom {
	border-bottom-left-radius: @border-radius_base;
	border-bottom-right-radius: @border-radius_base;
}


@icon_size: 22px;

.icon_style {
	margin-top: 5px;
	display: inline-block;
	width: @icon_size;
	height: @icon_size;
	background-size: @icon_size @icon_size;
}

@media only screen and (-webkit-device-pixel-ratio: 1){
	.icon_lock {
			background-image: url("../../img/icon-lock.png");
			.icon_style
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
	.icon_lock {
			background-image: url("../../img/icon-lock@2x.png");
			.icon_style
	}
}

@media only screen and (-webkit-device-pixel-ratio: 1){
	.icon_user {
			background-image: url("../../img/icon-user.png");
			.icon_style
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
	.icon_user {
			background-image: url("../../img/icon-user@2x.png");
			.icon_style
	}
}

.btn_login {
	background: @green_base;
	color: @text_color;
	text-align: center;
	width: @width_base;
	height: @height_base;
	display: inline-block;
	margin-top: 10px;
}
#login-form .km-list li {
	background: @blue_base;
}

#login-form .km-list>li:first-child{
	background: #f2f2f2;
	border: 1px solid #cfcfcf;
	border-bottom: 0;
}

#login-form .km-list>li:nth-child(2){
	background: #f2f2f2;
	border: 1px solid #cfcfcf;
}

#login-form .km-list>li:nth-child(3){
	background: none;
	padding: 5px 0 5px 0;
}



// social media

.social_media_outer {
	width: 100%;
	text-align: center;
	padding: @padding_base_top_down;
}

.social_media_inner {
	display: inline-block;
	color: @text_color;
	width: @width_base;
	height: @height_base;
	border: 0;
	border-radius: @border-radius_base;
}

.add_padding {
	padding: 1%;
}

@icon_social_size: 22px;

.facebook_sign_in_style {
	background: @blue_facebook;
	background-repeat: no-repeat;
	background-position: 47px 7px;
	background-size: @icon_social_size @icon_social_size;
	padding-left: 40px;
}



@media only screen and (-webkit-device-pixel-ratio: 1){
	.facebook_sign_in {
		.facebook_sign_in_style;
		background-image: url("../../img/fb_logo.png");
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
	.facebook_sign_in {
		.facebook_sign_in_style;
		background-image: url("../../img/fb_logo@2x.png");
	}
}

.google_sign_in_style {
	background: @red_google;
	background-repeat: no-repeat;
	background-position: 56px 9px;
	background-size: @icon_social_size @icon_social_size;
	padding-left: 36px;
}

@media only screen and (-webkit-device-pixel-ratio: 1){
	.google_sign_in {
		.google_sign_in_style;
		background-image: url("../../img/google_logo.png");
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
	.google_sign_in {
		.google_sign_in_style;
		background-image: url("../../img/google_logo@2x.png");
	}
}


// footer

.footer_outer {
	background-color: @blue_base;
	width: 100%;
	padding: 0 0 5% 0;
	text-align: center;
}

.footer_inner {
	font-size: 18px;
	color: @text_color;
	position: relative;
	display: inline-block;
	padding: 0 5px 0 5px;


}

.footer_inner a {
	background: none;
}

.km-tabstrip .km-state-active { //footer
	background: none;
}
