
<!-- Lista wszystkich krajów - zrobiłem sobie do testowania. -->

<div id="country-list" data-role="view" data-layout="default" data-init="civapp.countries.countryList">
  <ul id="listview"></ul>

  <!-- tagi <li> </li> dla listview dodawane są automatycznie -->

  <script type="text/x-kendo-template" id="country-entry-tpl">
  	#: code # - #: location #
  </script>
</div>