
<!-- Widok pojedynczej dyskusji -->

<div id="topic-detail" data-role="view" data-layout="default" data-show="civapp.topics.topicDetail">

  <div id="topic-content"></div>

  <script type="text/x-kendo-template" id="topic-entry-detail-tpl">
  	<h1>${question}</h1>
  	<p class="entry-meta">#: moment(date_created).fromNow() # by ${creator_fullname}</p>
  	<p>Answers: ${answers}</p>
  	# if (image) { #<p><img class="content-image-thumb" src="#: image #" alt="${question}" /></p># } #
  	<div>#= intro #</div>
  </script>

</div>