
<!-- Widok pojedynczej idei -->

<div id="idea-detail" data-role="view" data-layout="default" data-show="civapp.ideas.ideaDetail">

  <a data-role="button" data-rel="actionsheet" href="#vote-actionsheet">Vote</a>

  <div id="main-content"></div>

  <ul id="vote-actionsheet" data-role="actionsheet" data-cancel="Close">
    <li><a href="#" data-action="civapp.ideas.voteUp">Vote Up</a></li>
    <li><a href="#" data-action="civapp.ideas.voteDown">Vote Down</a></li>
  </ul>

  <script type="text/x-kendo-template" id="content-entry-details">
    <h1>#: name #</h1>
    <p class="entry-meta">#: moment(date_created).fromNow() # by #: creator_fullname #</p>
    <p>
      Votes: <input type="text" id="total-votes" value="#: total_votes #" readonly /><br />
      Comments:
      # if (total_comments > 0) { #
        <a id="comment-count" href="\\#views/comments.html?id=#: id #&ct=#: comment_meta['content-type'] #&cl=#: comment_meta['content-label'] #">#: total_comments #</a>
      # } else { #
        <span id="comment-count">No comments yet.</span>
      # } #
    </p>
    <p><img class="content-image-thumb" src="#: image #" alt="#: name #" /></p>
    <div>#= description #</div>

    <button class="toggle-comments" data-id="#: id #" data-ct="#: comment_meta['content-type'] #">Add comment</button>

    <input type="hidden" id="idea-id" value="#: id #" />
  </script>

</div>