
<!-- Widok podsumowania jednej lokalizacji. -->

<div id="location-detail" data-role="view" data-layout="location" data-show="civapp.locations.locationDetails">

  <!--<div id="location-summary"></div>-->

  <ul id="contents"></ul>

  <!-- Szablon podsumowania lokacji -->

  <script type="text/x-kendo-template" id="location-tpl"> 
    <div class="menu-location-template"><div class="menu-slide"><img src="img/icon-log_out.png"></div><div id="location-header"><h1>#: name #</h1></div></div>
  </script>

  <!-- Najważniejsze - szablon dla pojedynczego wpisu z listy -->

  <script type="text/x-kendo-template" id="pcontent-tpl">
    <div class="content-box content-box-${type}">
      <div class="content-image-box-outer">
        <div class="content-image-thumb-outer">
          <div class="gradient"></div>
          <img class="content-image-thumb" src="#: civapp.conf.baseUrl ##: thumbnail #" alt="${name}" />
       </div>
        <div class="avatar_bar_description_outer">
         <div class="post_user_avatar"></div>
         <div class="white_bar"></div>
          <div class="title_description"><h3><a href="\\#views/#: type #.html?id=#: pk #&ct=#: type #">${title}</a></h3></div>
        </div>
      </div>
      <div class="content-description">
        <p>${name}</p>
      </div>
      <div class="clear"></div>
      <div class="content-preview white-background"><p>#= description #</p></div>
    </div>
  </script>

  <!-- Szablon dla elementów w menu do filtrowania zawartości -->

  <script type="text/x-kendo-template" id="menu-entry-tpl">
    <li><a href="\\#" class="filter-menu-link${cls}" data-id="${id}" data-ct="${ct}">${label}</a></li>
  </script>

</div>