
<!-- Lista lokalizacji, które obserwuje użytkownik. -->

<div id="my-locations" data-role="view" data-layout="default" data-init="civapp.userspace.listMyLocations">
  <ul id="my-location-list"></ul>

  <script type="text/x-kendo-template" id="my-location-tpl">
  	<a href="\\#views/location.html?id=#: id #">#: name #</a>
  </script>
</div>
