
<!-- Widok pojedynczego newsa -->

<div id="news-detail" data-role="view" data-layout="default" data-show="civapp.blog.newsDetail">

  <div id="news-content"></div>

  <script type="text/x-kendo-template" id="news-entry-detail-tpl">
  	<h1>${title}</h1>
  	<p class="entry-meta">#: moment(date_created).fromNow() # by ${user_full_name}</p>
  	<p>
      Comments:
      # if (comment_count > 0) { #
        <a id="comment-count" href="\\#views/comments.html?id=#: id #&ct=#: comment_meta['content-type'] #&cl=#: comment_meta['content-label'] #">#: comment_count #</a>
      # } else { #
        <span id="comment-count">No comments yet.</span>
      # } #
    </p>
  	# if (image) { #<p><img class="content-image-thumb" src="#: image #" alt="${title}" /></p># } #
  	<div>#= content #</div>
  	<button class="toggle-comments" data-id="#: id #" data-ct="#: comment_meta['content-type'] #">Add comment</button>
  </script>

</div>