<div data-role="view" id="noApiKey" class="noapikey-scrn" data-layout="default">
    <div data-role="header">
        <div data-role="navbar">
            <h3>Backend Services <strong>API Key</strong> is not set</h3>
        </div>
    </div>
    <p><span>API Key</span> links the sample mobile app to a project in Telerik Backend Services.</p>
  <p>To set the <span>API Key</span> open the <span>/scripts/app/settings.js</span> file and replace <strong>LljyR6mYA06bBPBf</strong> with the <span>API Key</span> of your 'Friends' project.</p>
</div>
