
<!-- Widok pojedynczej ankiety -->

<div id="poll-detail" data-role="view" data-layout="default" data-show="civapp.polls.pollDetail">

  <div id="poll-content"></div>

  <script type="text/x-kendo-template" id="poll-entry-detail-tpl">
  	<h1>${title}</h1>
  	<p class="entry-meta">#: moment(date_created).fromNow() # by ${creator_fullname}</p>
  	# if (image) { #<p><img class="content-image-thumb" src="#: image #" alt="${title}" /></p># } #
  	<div>#= question #</div>
  </script>

</div>