
<!-- Wyszukiwarka treści i lokalizacji. -->

<div id="search-results" data-role="view" data-layout="default" data-after-show="civapp.search.initSearchForm">

  <div id="result-list"></div>

  <script type="text/x-kendo-template" id="result-tpl">
    #: name #
  </script>

  <script type="text/x-kendo-template" id="model-input-tpl">
    <input type="checkbox" name="ct-list-choice" value="#: id #" /> #: name #
  </script>

  <script type="text/x-kendo-template" id="search-form-tpl">
    <form id="search-form">
      <input type="text" id="q">
      <div id="model_list"></div>
      <button type="submit">Search</button>
    </form>
  </script>

</div>