
<!-- Dashboard użytkownika - docelowo do homepage -->

<div id="user-content" data-role="view" data-layout="default" data-init="civapp.userspace.initUserContent" data-show="civapp.checkCredentials">
  <ul id="content-list"></ul>

  <script type="text/x-kendo-template" id="ucontent-tpl">
  	<a href="\\#views/#: type #.html?id=#: pk #&ct=#: type #">#: title # - #: type #</a>
  </script>
</div>